In [96]:
# Importing libraries
# Data analysis liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importing seasons data

In [97]:
season_table_1992 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1992-1993")
season_table_1993 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1993-1994")
season_table_1994 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1994-1995")
season_table_1995 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1995-1996")
season_table_1996 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1996-1997")
season_table_1997 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1997-1998")
season_table_1998 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1998-1999")
season_table_1999 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_1999-2000")
season_table_2000 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2000-2001")

season_table_2001 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2001-2002")
season_table_2002 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2002-2003")
season_table_2003 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2003-2004")
season_table_2004 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2004-2005")
season_table_2005 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2005-2006")
season_table_2006 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2006-2007")
season_table_2007 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2007-2008")
season_table_2008 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2008-2009")
season_table_2009 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2009-2010")
season_table_2010 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2010-2011")

season_table_2011 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2011-2012")
season_table_2012 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2012-2013")
season_table_2013 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2013-2014")
season_table_2014 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2014-2015")
season_table_2015 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2015-2016")
season_table_2016 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2016-2017")
season_table_2017 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2017-2018")
season_table_2018 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2018-2019")
season_table_2019 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2019-2020")

season_table_2020 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2020-2021")
season_table_2021 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2021-2022")
season_table_2022 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2022-2023")
season_table_2023 = pd.read_csv("Datasets/Seasons/Premier_league_season_table_2023-2024")

In [98]:
list_of_table = [
    season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,season_table_1997,
    season_table_1998,season_table_1999,season_table_2000,season_table_2001,season_table_2002,season_table_2003,
    season_table_2004,season_table_2005,season_table_2006,season_table_2007,season_table_2008,season_table_2009,
    season_table_2010,season_table_2011,season_table_2012,season_table_2013,season_table_2014,season_table_2015,
    season_table_2016,season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,
    season_table_2022,season_table_2023
]

In [99]:
len(list_of_table)

32

In [100]:
season_table_1992.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               22 non-null     int64
 1   Squad            22 non-null     object
 2   MP               22 non-null     int64
 3   W                22 non-null     int64
 4   D                22 non-null     int64
 5   L                22 non-null     int64
 6   GF               22 non-null     int64
 7   GA               22 non-null     int64
 8   GD               22 non-null     int64
 9   Pts              22 non-null     int64
 10  Pts/MP           22 non-null     float64
 11  Attendance       22 non-null     object
 12  Top Team Scorer  22 non-null     object
 13  Goalkeeper       22 non-null     object
 14  Notes            7 non-null      object
dtypes: float64(1), int64(9), object(5)
memory usage: 2.7+ KB

### Creating a season column

In [101]:
base_year = 1992
for i in range(len(list_of_table)):
    
    table = list_of_table[i]
    year = f"{base_year}-{base_year+1}"
    table["Season"] = year
    base_year += 1

### Cleaning Top team scorer column

In [102]:
season_table_1992["Top Team Scorer"].apply(lambda x : x.split(" - ")[-1])

0     15
1     12
2     15
3     16
4     20
5     14
6     12
7     21
8     16
9     15
10    10
11    19
12    12
13    15
14    17
15    10
16    13
17    15
18    12
19    15
20    13
21    10
Name: Top Team Scorer, dtype: object

In [103]:
season_table_1992

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season
0,1,Manchester Utd,42,24,12,6,67,31,36,84,2.00,"35,132",Mark Hughes - 15,Peter Schmeichel,→ Champions League via league finish,1992-1993
1,2,Aston Villa,42,21,11,10,57,40,17,74,1.76,"29,594",Dean Saunders - 12,Nigel Spink,→ UEFA Cup via league finish,1992-1993
2,3,Norwich City,42,21,9,12,61,65,-4,72,1.71,"16,253",Mark Robins - 15,Bryan Gunn,→ UEFA Cup via league finish 1,1992-1993
3,4,Blackburn,42,20,11,11,68,46,22,71,1.69,"16,247",Alan Shearer - 16,Bobby Mimms,NaN,1992-1993
4,5,QPR,42,17,12,13,63,55,8,63,1.50,"15,001",Les Ferdinand - 20,Tony Roberts,NaN,1992-1993
5,6,Liverpool,42,16,11,15,62,55,7,59,1.40,"37,009",Ian Rush - 14,David James,NaN,1992-1993
6,7,Sheffield Weds,42,15,14,13,55,51,4,59,1.40,"27,264",Mark Bright - 12,Chris Woods,NaN,1992-1993
7,8,Tottenham,42,16,11,15,60,66,-6,59,1.40,"27,879",Teddy Sheringham - 21,Erik Thorstvedt,NaN,1992-1993
8,9,Manchester City,42,15,12,15,56,51,5,57,1.36,"24,698",David White - 16,Tony Coton,NaN,1992-1993
9,10,Arsenal,42,15,11,16,40,38,2,56,1.33,"24,403",Ian Wright - 15,David Seaman,→ European Cup Winners' Cup via cup win 2,1992-1993
10,11,Chelsea,42,14,14,14,51,54,-3,56,1.33,"18,754",Graham Stuart - 10,Kevin Hitchcock,NaN,1992-1993
11,12,Wimbledon,42,14,12,16,56,55,1,54,1.29,"8,405",Dean Holdsworth - 19,Hans Segers,NaN,1992-1993
12,13,Everton,42,15,8,19,53,55,-2,53,1.26,"20,457",Tony Cottee - 12,Neville Southall,NaN,1992-1993
13,14,Sheffield Utd,42,14,10,18,54,53,1,52,1.24,"18,799",Brian Deane - 15,Alan Kelly Jr.,NaN,1992-1993
14,15,Coventry City,42,13,13,16,52,57,-5,52,1.24,"15,504",Micky Quinn - 17,Steve Ogrizovic,NaN,1992-1993
15,16,Ipswich Town,42,12,16,14,50,55,-5,52,1.24,"18,185",Chris Kiwomya - 10,Clive Baker,NaN,1992-1993
16,17,Leeds United,42,12,15,15,57,62,-5,51,1.21,"29,229",Lee Chapman - 13,John Lukic,NaN,1992-1993
17,18,Southampton,42,13,11,18,54,61,-7,50,1.19,"15,382",Matt Le Tissier - 15,Tim Flowers,NaN,1992-1993
18,19,Oldham Athletic,42,13,10,19,63,74,-11,49,1.17,"12,862",Ian Olney - 12,Paul Gerrard,NaN,1992-1993
19,20,Crystal Palace,42,11,16,15,48,61,-13,49,1.17,"15,726",Chris Armstrong - 15,Nigel Martyn,Relegated,1992-1993
20,21,Middlesbrough,42,11,11,20,54,75,-21,44,1.05,"16,522",Paul Wilkinson - 13,Stephen Pears,Relegated,1992-1993
21,22,Nott'ham Forest,42,10,10,22,41,62,-21,40,0.95,"21,910",Nigel Clough - 10,Mark Crossley,Relegated,1992-1993

Name of the goal scorer

In [104]:
season_table_1992['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])

0          Mark Hughes
1        Dean Saunders
2          Mark Robins
3         Alan Shearer
4        Les Ferdinand
5             Ian Rush
6          Mark Bright
7     Teddy Sheringham
8          David White
9           Ian Wright
10       Graham Stuart
11     Dean Holdsworth
12         Tony Cottee
13         Brian Deane
14         Micky Quinn
15       Chris Kiwomya
16         Lee Chapman
17     Matt Le Tissier
18           Ian Olney
19     Chris Armstrong
20      Paul Wilkinson
21        Nigel Clough
Name: Top Team Scorer, dtype: object

### Creating function for applying to each season

In [105]:
def top_scorer_and_goals(season):
    # Splitting Goal scorers and number of goals scored by Top scorer   
    
    most_goals = season['Top Team Scorer'].apply(lambda x : int(x.split(" - ")[-1]))
#     season["Goals scored by top team scorer"] = most_goals
    
    top_sco = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])
#     season['Top Team Scorer'] = top_sco
    return most_goals,top_sco

In [106]:
def Attendance_dtype(season):
    return season['Attendance'].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]) if type(x) == str else x)

Applying changes to all seasons

In [107]:
for seasons in range(len(list_of_table)):
    # Changing the dtype of Attendance column
    att = Attendance_dtype(season=list_of_table[seasons])
    list_of_table[seasons]['Attendance'] = att
    
    # Splitting Team top scorer and goals scored by him
    goal,top = top_scorer_and_goals(season=list_of_table[seasons])
    list_of_table[seasons]["Goals scored by top team scorer"] = goal
    list_of_table[seasons]["Top Team Scorer"] = top

In [108]:
type(season_table_2020['Attendance'][0])

numpy.int64

# Creating new columns for analysis

### Promotion to Premier League

Creating a function that shows team promoted to premier league with Yes and already present teams with no.

In [109]:
def promotion(current_season,last_season):
    promoted_or_not = current_season['Squad'].apply(lambda x : "Yes" if x not in list(last_season['Squad']) else "No")
    current_season['Promoted'] = promoted_or_not

In [110]:
promotion(current_season=season_table_1999,last_season=season_table_1998)

### Years in premier league after promotion

Function that return the years spent by a team in premier league after promotion (Include Promotion year and relegation year)

In [112]:
def consecutive_years_in_PL_after_promotion(current_year,last_year):
    p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
    current_year['years_in_PL_after_promotion'] = p

For first season of Premier league this column will contain 1 for all teams

In [113]:
season_table_1992['years_in_PL_after_promotion'] = [1 for i in range(len(season_table_1992['Squad']))]

In [114]:
season_table_2022

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer
0,1,Manchester City,38,28,5,5,94,33,61,89,...,78.6,32.1,46.5,1.22,53249,Erling Haaland,Ederson,→ Champions League via league finish,2022-2023,36
1,2,Arsenal,38,26,6,6,88,43,45,84,...,71.6,42.0,29.6,0.78,60191,"Martin Ødegaard, Gabriel Martinelli",Aaron Ramsdale,→ Champions League via league finish,2022-2023,15
2,3,Manchester Utd,38,23,6,9,58,43,15,75,...,67.7,50.4,17.3,0.45,73671,Marcus Rashford,David de Gea,→ Champions League via league finish,2022-2023,17
3,4,Newcastle Utd,38,19,14,5,68,33,35,71,...,71.9,39.5,32.3,0.85,52127,Callum Wilson,Nick Pope,→ Champions League via league finish,2022-2023,18
4,5,Liverpool,38,19,10,9,75,47,28,67,...,71.5,50.8,20.7,0.55,53163,Mohamed Salah,Alisson,→ Europa League via league finish,2022-2023,19
5,6,Brighton,38,18,8,12,72,53,19,62,...,73.3,50.2,23.1,0.61,31477,Alexis Mac Allister,Robert Sánchez,→ Europa League via league finish,2022-2023,10
6,7,Aston Villa,38,18,7,13,51,46,5,61,...,50.3,52.5,-2.2,-0.06,41679,Ollie Watkins,Emiliano Martínez,→ Europa Conference League via league finish,2022-2023,15
7,8,Tottenham,38,18,6,14,70,63,7,60,...,57.0,49.6,7.4,0.20,61585,Harry Kane,Hugo Lloris,NaN,2022-2023,30
8,9,Brentford,38,15,14,9,58,46,12,59,...,56.3,48.8,7.5,0.20,17078,Ivan Toney,David Raya,NaN,2022-2023,20
9,10,Fulham,38,15,7,16,55,53,2,52,...,46.2,63.6,-17.4,-0.46,23746,Aleksandar Mitrović,Bernd Leno,NaN,2022-2023,14
10,11,Crystal Palace,38,11,12,15,40,49,-9,45,...,39.3,48.1,-8.8,-0.23,24952,Eberechi Eze,Vicente Guaita,NaN,2022-2023,10
11,12,Chelsea,38,11,11,16,38,47,-9,44,...,49.5,52.5,-3.0,-0.08,40002,Kai Havertz,Kepa Arrizabalaga,NaN,2022-2023,7
12,13,Wolves,38,11,8,19,31,58,-27,41,...,36.8,59.9,-23.0,-0.61,31482,"Rúben Neves, Daniel Podence",José Sá,NaN,2022-2023,6
13,14,West Ham,38,11,7,20,42,55,-13,40,...,49.2,53.0,-3.9,-0.10,62462,"Saïd Benrahma, Jarrod Bowen",Łukasz Fabiański,NaN,2022-2023,6
14,15,Bournemouth,38,11,6,21,37,71,-34,39,...,38.5,63.8,-25.3,-0.67,10362,Philip Billing,Neto,NaN,2022-2023,7
15,16,Nott'ham Forest,38,9,11,18,38,68,-30,38,...,39.3,64.2,-24.9,-0.66,29188,Taiwo Awoniyi,Dean Henderson,NaN,2022-2023,10
16,17,Everton,38,8,12,18,34,57,-23,36,...,45.2,65.5,-20.4,-0.54,39243,Dwight McNeil,Jordan Pickford,NaN,2022-2023,7
17,18,Leicester City,38,9,7,22,51,68,-17,34,...,50.5,63.3,-12.8,-0.34,31887,Harvey Barnes,Danny Ward,Relegated,2022-2023,13
18,19,Leeds United,38,7,10,21,48,78,-30,31,...,47.3,67.1,-19.8,-0.52,36566,Rodrigo,Illan Meslier,Relegated,2022-2023,13
19,20,Southampton,38,6,7,25,36,73,-37,25,...,37.8,60.8,-23.0,-0.61,30440,James Ward-Prowse,Gavin Bazunu,Relegated,2022-2023,9

Applying both above function to all season tables

In [115]:
for i in range(1,len(list_of_table)):
    promotion(current_season=list_of_table[i],last_season=list_of_table[i-1])
    consecutive_years_in_PL_after_promotion(current_year=list_of_table[i],last_year=list_of_table[i-1])

C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_4568\2798628958.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].str.strip().apply(lambda x : int(1) if x not in list(last_year['Squad'].str.strip()) else int(last_year.loc[(last_year['Squad'].str.strip() == x)]['years_in_PL_after_promotion'])  + 1)

## Creating a combinded table of all seasons

In [119]:
All_season = pd.concat([season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,
                        season_table_1997,season_table_1998,season_table_1999,season_table_2000,season_table_2001,
                        season_table_2002,season_table_2003,season_table_2004,season_table_2005,season_table_2006,
                        season_table_2007,season_table_2008,season_table_2009,season_table_2010,season_table_2011,
                        season_table_2012,season_table_2013,season_table_2014,season_table_2015,season_table_2016,
                        season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,season_table_2022,season_table_2023],
                       ignore_index=True, axis=0)

In [120]:
All_season

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Goalkeeper,Notes,Season,Goals scored by top team scorer,years_in_PL_after_promotion,Promoted,xG,xGA,xGD,xGD/90
0,1,Manchester Utd,42,24,12,6,67,31,36,84,...,Peter Schmeichel,→ Champions League via league finish,1992-1993,15,1,NaN,NaN,NaN,NaN,NaN
1,2,Aston Villa,42,21,11,10,57,40,17,74,...,Nigel Spink,→ UEFA Cup via league finish,1992-1993,12,1,NaN,NaN,NaN,NaN,NaN
2,3,Norwich City,42,21,9,12,61,65,-4,72,...,Bryan Gunn,→ UEFA Cup via league finish 1,1992-1993,15,1,NaN,NaN,NaN,NaN,NaN
3,4,Blackburn,42,20,11,11,68,46,22,71,...,Bobby Mimms,NaN,1992-1993,16,1,NaN,NaN,NaN,NaN,NaN
4,5,QPR,42,17,12,13,63,55,8,63,...,Tony Roberts,NaN,1992-1993,20,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,16,Brentford,38,10,9,19,56,65,-9,39,...,Mark Flekken,NaN,2023-2024,12,3,No,58.2,56.0,2.2,0.06
642,17,Nott'ham Forest,38,9,9,20,49,67,-18,32,...,Matt Turner,4-point deduction 2,2023-2024,14,2,No,49.9,53.3,-3.4,-0.09
643,18,Luton Town,38,6,8,24,52,85,-33,26,...,Thomas Kaminski,Relegated,2023-2024,11,1,Yes,42.4,78.0,-35.5,-0.94
644,19,Burnley,38,5,9,24,41,78,-37,24,...,James Trafford,Relegated,2023-2024,6,1,Yes,40.6,70.4,-29.7,-0.78
645,20,Sheffield Utd,38,3,7,28,35,104,-69,16,...,Wes Foderingham,Relegated,2023-2024,6,1,Yes,38.3,76.6,-38.3,-1.01

In [121]:
All_season.columns

Index(['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
       'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes', 'Season',
       'Goals scored by top team scorer', 'years_in_PL_after_promotion',
       'Promoted', 'xG', 'xGA', 'xGD', 'xGD/90'],
      dtype='object')

In [122]:
del All_season['xG']
del All_season['xGA']
del All_season['xGD']
del All_season['xGD/90']

In [125]:
All_season.to_csv(f'Datasets/Seasons/All_season',index=False)