# Analysing Premier League seasons

In [1]:
# Importing libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Season files

In [2]:
season_table_1992 = pd.read_csv("Season_tables/Premier_league_season_table_1992-1993")
season_table_1993 = pd.read_csv("Season_tables/Premier_league_season_table_1993-1994")
season_table_1994 = pd.read_csv("Season_tables/Premier_league_season_table_1994-1995")
season_table_1995 = pd.read_csv("Season_tables/Premier_league_season_table_1995-1996")
season_table_1996 = pd.read_csv("Season_tables/Premier_league_season_table_1996-1997")
season_table_1997 = pd.read_csv("Season_tables/Premier_league_season_table_1997-1998")
season_table_1998 = pd.read_csv("Season_tables/Premier_league_season_table_1998-1999")
season_table_1999 = pd.read_csv("Season_tables/Premier_league_season_table_1999-2000")
season_table_2000 = pd.read_csv("Season_tables/Premier_league_season_table_2000-2001")

season_table_2001 = pd.read_csv("Season_tables/Premier_league_season_table_2001-2002")
season_table_2002 = pd.read_csv("Season_tables/Premier_league_season_table_2002-2003")
season_table_2003 = pd.read_csv("Season_tables/Premier_league_season_table_2003-2004")
season_table_2004 = pd.read_csv("Season_tables/Premier_league_season_table_2004-2005")
season_table_2005 = pd.read_csv("Season_tables/Premier_league_season_table_2005-2006")
season_table_2006 = pd.read_csv("Season_tables/Premier_league_season_table_2006-2007")
season_table_2007 = pd.read_csv("Season_tables/Premier_league_season_table_2007-2008")
season_table_2008 = pd.read_csv("Season_tables/Premier_league_season_table_2008-2009")
season_table_2009 = pd.read_csv("Season_tables/Premier_league_season_table_2009-2010")
season_table_2010 = pd.read_csv("Season_tables/Premier_league_season_table_2010-2011")

season_table_2011 = pd.read_csv("Season_tables/Premier_league_season_table_2011-2012")
season_table_2012 = pd.read_csv("Season_tables/Premier_league_season_table_2012-2013")
season_table_2013 = pd.read_csv("Season_tables/Premier_league_season_table_2013-2014")
season_table_2014 = pd.read_csv("Season_tables/Premier_league_season_table_2014-2015")
season_table_2015 = pd.read_csv("Season_tables/Premier_league_season_table_2015-2016")
season_table_2016 = pd.read_csv("Season_tables/Premier_league_season_table_2016-2017")
season_table_2017 = pd.read_csv("Season_tables/Premier_league_season_table_2017-2018")
season_table_2018 = pd.read_csv("Season_tables/Premier_league_season_table_2018-2019")
season_table_2019 = pd.read_csv("Season_tables/Premier_league_season_table_2019-2020")

season_table_2020 = pd.read_csv("Season_tables/Premier_league_season_table_2020-2021")
season_table_2021 = pd.read_csv("Season_tables/Premier_league_season_table_2021-2022")

In [3]:
list_of_table = [
    season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,season_table_1997,
    season_table_1998,season_table_1999,season_table_2000,season_table_2001,season_table_2002,season_table_2003,
    season_table_2004,season_table_2005,season_table_2006,season_table_2007,season_table_2008,season_table_2009,
    season_table_2010,season_table_2011,season_table_2012,season_table_2013,season_table_2014,season_table_2015,
    season_table_2016,season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,
]

In [4]:
len(list_of_table)

30

In [5]:
season_table_1992.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               22 non-null     int64
 1   Squad            22 non-null     object
 2   MP               22 non-null     int64
 3   W                22 non-null     int64
 4   D                22 non-null     int64
 5   L                22 non-null     int64
 6   GF               22 non-null     int64
 7   GA               22 non-null     int64
 8   GD               22 non-null     int64
 9   Pts              22 non-null     int64
 10  Pts/MP           22 non-null     float64
 11  Attendance       22 non-null     object
 12  Top Team Scorer  22 non-null     object
 13  Goalkeeper       22 non-null     object
 14  Notes            7 non-null      object
dtypes: float64(1), int64(9), object(5)
memory usage: 2.7+ KB

### Attendance is object dtype but it should be numeric

In [6]:
def Attendance_num(season):
    Attendance_col = season["Attendance"].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]))
#     season["Attendance"] = Attendance_col

In [7]:
# Attendance_num(season=season_table_1992)

### Creating a season column

In [8]:
base_year = 1992
for i in range(len(list_of_table)):
    
    table = list_of_table[i]
    year = f"{base_year}-{base_year+1}"
    table["Season"] = year
    base_year += 1

Goals scored by Top scorer

In [9]:
season_table_1992["Top Team Scorer"].apply(lambda x : x.split(" - ")[-1])

0     15
1     12
2     15
3     16
4     20
5     14
6     12
7     21
8     16
9     15
10    10
11    19
12    12
13    15
14    17
15    10
16    13
17    15
18    12
19    15
20    13
21    10
Name: Top Team Scorer, dtype: object

Name of the goal scorer

In [10]:
season_table_1992['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])

0          Mark Hughes
1        Dean Saunders
2          Mark Robins
3         Alan Shearer
4        Les Ferdinand
5             Ian Rush
6          Mark Bright
7     Teddy Sheringham
8          David White
9           Ian Wright
10       Graham Stuart
11     Dean Holdsworth
12         Tony Cottee
13         Brian Deane
14         Micky Quinn
15       Chris Kiwomya
16         Lee Chapman
17     Matt Le Tissier
18           Ian Olney
19     Chris Armstrong
20      Paul Wilkinson
21        Nigel Clough
Name: Top Team Scorer, dtype: object

### Creating function for easy

In [11]:
def top_scorer_and_goals(season):
    # Splitting Goal scorers and number of goals scored by Top scorer   
    
    most_goals = season['Top Team Scorer'].apply(lambda x : int(x.split(" - ")[-1]))
#     season["Goals scored by top team scorer"] = most_goals
    
    top_sco = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])
#     season['Top Team Scorer'] = top_sco
    return most_goals,top_sco

In [12]:
# top_scorer_and_goals(season=season_table_1992)

Applying changes to all seasons

In [13]:
# for seasons in range(len(list_of_table)):
#     # Changing the dtype of Attendance column
#     att = Attendance_num(season=list_of_table[seasons])
#     list_of_table[seasons]['Attendane'] = att
    
#     # Splitting Team top scorer and goals scored by him
#     goal,top = top_scorer_and_goals(season=list_of_table[seasons])
#     list_of_table[seasons]["Goals scored by top team scorer"] = goal
#     list_of_table[seasons]["Top Team Scorer"] = top

In [18]:
# def Attendance_str_to_int(season):
#     # Getting Attendance col from season table 
#     season['Attendance'].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]) if len(x) > 3 else x)

In [22]:
type(season_table_2020['Attendance'][0])

numpy.int64

In [24]:
season_table_2000['Attendance'][0]

'67,489'

In [28]:
def Att(season):
    return season['Attendance'].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]) if type(x) == str else x)

In [ ]:
Att(se)

In [14]:
 season_table_1992

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season
0,1,Manchester Utd,42,24,12,6,67,31,36,84,2.00,"35,132",Mark Hughes - 15,Peter Schmeichel,→ Champions League via league finish,1992-1993
1,2,Aston Villa,42,21,11,10,57,40,17,74,1.76,"29,594",Dean Saunders - 12,Nigel Spink,→ UEFA Cup via league finish,1992-1993
2,3,Norwich City,42,21,9,12,61,65,-4,72,1.71,"16,253",Mark Robins - 15,Bryan Gunn,→ UEFA Cup via league finish 1,1992-1993
3,4,Blackburn,42,20,11,11,68,46,22,71,1.69,"16,247",Alan Shearer - 16,Bobby Mimms,NaN,1992-1993
4,5,QPR,42,17,12,13,63,55,8,63,1.50,"15,001",Les Ferdinand - 20,Tony Roberts,NaN,1992-1993
5,6,Liverpool,42,16,11,15,62,55,7,59,1.40,"37,009",Ian Rush - 14,David James,NaN,1992-1993
6,7,Sheffield Weds,42,15,14,13,55,51,4,59,1.40,"27,264",Mark Bright - 12,Chris Woods,NaN,1992-1993
7,8,Tottenham,42,16,11,15,60,66,-6,59,1.40,"27,879",Teddy Sheringham - 21,Erik Thorstvedt,NaN,1992-1993
8,9,Manchester City,42,15,12,15,56,51,5,57,1.36,"24,698",David White - 16,Tony Coton,NaN,1992-1993
9,10,Arsenal,42,15,11,16,40,38,2,56,1.33,"24,403",Ian Wright - 15,David Seaman,→ European Cup Winners' Cup via cup win 2,1992-1993
10,11,Chelsea,42,14,14,14,51,54,-3,56,1.33,"18,754",Graham Stuart - 10,Kevin Hitchcock,NaN,1992-1993
11,12,Wimbledon,42,14,12,16,56,55,1,54,1.29,"8,405",Dean Holdsworth - 19,Hans Segers,NaN,1992-1993
12,13,Everton,42,15,8,19,53,55,-2,53,1.26,"20,457",Tony Cottee - 12,Neville Southall,NaN,1992-1993
13,14,Sheffield Utd,42,14,10,18,54,53,1,52,1.24,"18,799",Brian Deane - 15,Alan Kelly Jr.,NaN,1992-1993
14,15,Coventry City,42,13,13,16,52,57,-5,52,1.24,"15,504",Micky Quinn - 17,Steve Ogrizovic,NaN,1992-1993
15,16,Ipswich Town,42,12,16,14,50,55,-5,52,1.24,"18,185",Chris Kiwomya - 10,Clive Baker,NaN,1992-1993
16,17,Leeds United,42,12,15,15,57,62,-5,51,1.21,"29,229",Lee Chapman - 13,John Lukic,NaN,1992-1993
17,18,Southampton,42,13,11,18,54,61,-7,50,1.19,"15,382",Matt Le Tissier - 15,Tim Flowers,NaN,1992-1993
18,19,Oldham Athletic,42,13,10,19,63,74,-11,49,1.17,"12,862",Ian Olney - 12,Paul Gerrard,NaN,1992-1993
19,20,Crystal Palace,42,11,16,15,48,61,-13,49,1.17,"15,726",Chris Armstrong - 15,Nigel Martyn,Relegated,1992-1993
20,21,Middlesbrough,42,11,11,20,54,75,-21,44,1.05,"16,522",Paul Wilkinson - 13,Stephen Pears,Relegated,1992-1993
21,22,Nott'ham Forest,42,10,10,22,41,62,-21,40,0.95,"21,910",Nigel Clough - 10,Mark Crossley,Relegated,1992-1993

In [90]:
season_table_1993.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer
0,1,Manchester Utd,42,27,11,4,80,38,42,92,2.19,"44,246",Eric Cantona,Peter Schmeichel,→ Champions League via league finish,1993-1994,18
1,2,Blackburn,42,25,9,8,63,36,27,84,2.00,"17,303",Alan Shearer,Tim Flowers,→ UEFA Cup via league finish,1993-1994,31
2,3,Newcastle Utd,42,23,8,11,82,41,41,77,1.83,"33,792",Andy Cole,Pavel Srníček,→ UEFA Cup via league finish,1993-1994,34
3,4,Arsenal,42,18,17,7,53,28,25,71,1.69,"30,492",Ian Wright,David Seaman,→ UEFA Cup Winners' Cup,1993-1994,23
4,5,Leeds United,42,18,16,8,65,39,26,70,1.67,"36,368",Rod Wallace,Mark Beeney,NaN,1993-1994,17

Promotion

In [91]:
def promotion(current_season,last_season):
    promoted_or_not = current_season['Squad'].apply(lambda x : "Yes" if x not in list(last_season['Squad']) else "No")
    current_season['Promoted'] = promoted_or_not

In [92]:
promotion(current_season=season_table_1999,last_season=season_table_1998)

In [93]:
for i in range(1,len(list_of_table)):
    promotion(current_season=list_of_table[i],last_season=list_of_table[i-1])

In [94]:
season_table_2021

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer,Promoted
0,1,Manchester City,38,29,6,3,99,26,73,93,...,24.6,64.0,1.68,"52,774",Kevin De Bruyne,Ederson,→ Champions League via league finish,2021-2022,15,No
1,2,Liverpool,38,28,8,2,94,26,68,92,...,33.8,54.9,1.45,"53,352",Mohamed Salah,Alisson,→ Champions League via league finish,2021-2022,23,No
2,3,Chelsea,38,21,11,6,76,33,43,74,...,33.2,30.1,0.79,"36,443",Mason Mount,Edouard Mendy,→ Champions League via league finish,2021-2022,11,No
3,4,Tottenham,38,22,5,11,69,40,29,71,...,39.3,21.9,0.58,"56,523",Son Heung-min,Hugo Lloris,→ Champions League via league finish,2021-2022,23,No
4,5,Arsenal,38,22,3,13,61,48,13,69,...,45.7,14.9,0.39,"59,665",Bukayo Saka,Aaron Ramsdale,→ Europa League via league finish,2021-2022,11,No
5,6,Manchester Utd,38,16,10,12,57,57,0,58,...,53.0,2.8,0.07,"73,150",Cristiano Ronaldo,David de Gea,→ Europa League via league finish,2021-2022,18,No
6,7,West Ham,38,16,8,14,60,51,9,56,...,53.5,-2.1,-0.06,"58,370",Jarrod Bowen,Łukasz Fabiański,→ Europa Conference League via league finish,2021-2022,12,No
7,8,Leicester City,38,14,10,14,62,59,3,52,...,59.3,-11.5,-0.30,"32,493",Jamie Vardy,Kasper Schmeichel,NaN,2021-2022,15,No
8,9,Brighton,38,12,15,11,42,44,-2,51,...,42.9,3.3,0.09,"30,966","Leandro Trossard, Neal Maupay",Robert Sánchez,NaN,2021-2022,8,No
9,10,Wolves,38,15,6,17,38,43,-5,51,...,56.9,-19.4,-0.51,"30,841",Raúl Jiménez,José Sá,NaN,2021-2022,6,No
10,11,Newcastle Utd,38,13,10,15,44,62,-18,49,...,57.1,-19.0,-0.50,"51,487",Callum Wilson,Martin Dúbravka,NaN,2021-2022,8,No
11,12,Crystal Palace,38,11,15,12,50,46,4,48,...,40.7,5.7,0.15,"24,588",Wilfried Zaha,Vicente Guaita,NaN,2021-2022,14,No
12,13,Brentford,38,13,7,18,48,56,-8,46,...,48.5,-2.7,-0.07,"16,918",Ivan Toney,David Raya,NaN,2021-2022,12,Yes
13,14,Aston Villa,38,13,6,19,52,54,-2,45,...,49.0,-4.9,-0.13,"41,681",Ollie Watkins,Emiliano Martínez,NaN,2021-2022,11,No
14,15,Southampton,38,9,13,16,43,67,-24,40,...,60.0,-15.2,-0.40,"30,134",James Ward-Prowse,Fraser Forster,NaN,2021-2022,10,No
15,16,Everton,38,11,6,21,43,66,-23,39,...,55.4,-14.2,-0.37,"38,446",Richarlison,Jordan Pickford,NaN,2021-2022,10,No
16,17,Leeds United,38,9,11,18,42,79,-37,38,...,67.8,-23.5,-0.62,"36,308",Raphinha,Illan Meslier,NaN,2021-2022,11,No
17,18,Burnley,38,7,14,17,34,53,-19,35,...,57.1,-17.4,-0.46,"19,278",Maxwel Cornet,Nick Pope,Relegated,2021-2022,9,No
18,19,Watford,38,6,5,27,34,77,-43,23,...,64.5,-24.5,-0.64,"20,614",Emmanuel Dennis,Ben Foster,Relegated,2021-2022,10,Yes
19,20,Norwich City,38,5,7,26,23,84,-61,22,...,75.5,-43.2,-1.14,"26,836",Teemu Pukki,Tim Krul,Relegated,2021-2022,11,Yes

In [126]:
Attendance_num(season=season_table_2007)

In [142]:
season_table_2020['Attendance']

0     526
1     526
2     837
3     526
4     421
5     632
6     632
7     632
8     421
9     368
10    526
11    526
12    237
13    447
14    526
15    523
16    178
17    211
18    283
19    263
Name: Attendance, dtype: int64

In [129]:
season_table_1992['Attendance']

0     35,132
1     29,594
2     16,253
3     16,247
4     15,001
5     37,009
6     27,264
7     27,879
8     24,698
9     24,403
10    18,754
11     8,405
12    20,457
13    18,799
14    15,504
15    18,185
16    29,229
17    15,382
18    12,862
19    15,726
20    16,522
21    21,910
Name: Attendance, dtype: object

In [96]:
season_table_2020['Goals scored by top team scorer'].max()

23

In [109]:
season_table_2020.loc[season_table_2020['Goals scored by top team scorer'] == season_table_2020['Goals scored by top team scorer'].max()]["Top Team Scorer"]

6    Harry Kane
Name: Top Team Scorer, dtype: object