In [26]:
# Importing libraries
# Data analysis liberaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importing seasons data

In [47]:
season_table_1992 = pd.read_csv("Season_tables/Premier_league_season_table_1992-1993")
season_table_1993 = pd.read_csv("Season_tables/Premier_league_season_table_1993-1994")
season_table_1994 = pd.read_csv("Season_tables/Premier_league_season_table_1994-1995")
season_table_1995 = pd.read_csv("Season_tables/Premier_league_season_table_1995-1996")
season_table_1996 = pd.read_csv("Season_tables/Premier_league_season_table_1996-1997")
season_table_1997 = pd.read_csv("Season_tables/Premier_league_season_table_1997-1998")
season_table_1998 = pd.read_csv("Season_tables/Premier_league_season_table_1998-1999")
season_table_1999 = pd.read_csv("Season_tables/Premier_league_season_table_1999-2000")
season_table_2000 = pd.read_csv("Season_tables/Premier_league_season_table_2000-2001")

season_table_2001 = pd.read_csv("Season_tables/Premier_league_season_table_2001-2002")
season_table_2002 = pd.read_csv("Season_tables/Premier_league_season_table_2002-2003")
season_table_2003 = pd.read_csv("Season_tables/Premier_league_season_table_2003-2004")
season_table_2004 = pd.read_csv("Season_tables/Premier_league_season_table_2004-2005")
season_table_2005 = pd.read_csv("Season_tables/Premier_league_season_table_2005-2006")
season_table_2006 = pd.read_csv("Season_tables/Premier_league_season_table_2006-2007")
season_table_2007 = pd.read_csv("Season_tables/Premier_league_season_table_2007-2008")
season_table_2008 = pd.read_csv("Season_tables/Premier_league_season_table_2008-2009")
season_table_2009 = pd.read_csv("Season_tables/Premier_league_season_table_2009-2010")
season_table_2010 = pd.read_csv("Season_tables/Premier_league_season_table_2010-2011")

season_table_2011 = pd.read_csv("Season_tables/Premier_league_season_table_2011-2012")
season_table_2012 = pd.read_csv("Season_tables/Premier_league_season_table_2012-2013")
season_table_2013 = pd.read_csv("Season_tables/Premier_league_season_table_2013-2014")
season_table_2014 = pd.read_csv("Season_tables/Premier_league_season_table_2014-2015")
season_table_2015 = pd.read_csv("Season_tables/Premier_league_season_table_2015-2016")
season_table_2016 = pd.read_csv("Season_tables/Premier_league_season_table_2016-2017")
season_table_2017 = pd.read_csv("Season_tables/Premier_league_season_table_2017-2018")
season_table_2018 = pd.read_csv("Season_tables/Premier_league_season_table_2018-2019")
season_table_2019 = pd.read_csv("Season_tables/Premier_league_season_table_2019-2020")

season_table_2020 = pd.read_csv("Season_tables/Premier_league_season_table_2020-2021")
season_table_2021 = pd.read_csv("Season_tables/Premier_league_season_table_2021-2022")

In [28]:
list_of_table = [
    season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,season_table_1997,
    season_table_1998,season_table_1999,season_table_2000,season_table_2001,season_table_2002,season_table_2003,
    season_table_2004,season_table_2005,season_table_2006,season_table_2007,season_table_2008,season_table_2009,
    season_table_2010,season_table_2011,season_table_2012,season_table_2013,season_table_2014,season_table_2015,
    season_table_2016,season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021,
]

In [29]:
len(list_of_table)

30

In [30]:
season_table_1992.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               22 non-null     int64
 1   Squad            22 non-null     object
 2   MP               22 non-null     int64
 3   W                22 non-null     int64
 4   D                22 non-null     int64
 5   L                22 non-null     int64
 6   GF               22 non-null     int64
 7   GA               22 non-null     int64
 8   GD               22 non-null     int64
 9   Pts              22 non-null     int64
 10  Pts/MP           22 non-null     float64
 11  Attendance       22 non-null     object
 12  Top Team Scorer  22 non-null     object
 13  Goalkeeper       22 non-null     object
 14  Notes            7 non-null      object
dtypes: float64(1), int64(9), object(5)
memory usage: 2.7+ KB

### Creating a season column

In [31]:
base_year = 1992
for i in range(len(list_of_table)):
    
    table = list_of_table[i]
    year = f"{base_year}-{base_year+1}"
    table["Season"] = year
    base_year += 1

### Cleaning Top team scorer column

In [32]:
season_table_1992["Top Team Scorer"].apply(lambda x : x.split(" - ")[-1])

0     15
1     12
2     15
3     16
4     20
5     14
6     12
7     21
8     16
9     15
10    10
11    19
12    12
13    15
14    17
15    10
16    13
17    15
18    12
19    15
20    13
21    10
Name: Top Team Scorer, dtype: object

Name of the goal scorer

In [33]:
season_table_1992['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])

0          Mark Hughes
1        Dean Saunders
2          Mark Robins
3         Alan Shearer
4        Les Ferdinand
5             Ian Rush
6          Mark Bright
7     Teddy Sheringham
8          David White
9           Ian Wright
10       Graham Stuart
11     Dean Holdsworth
12         Tony Cottee
13         Brian Deane
14         Micky Quinn
15       Chris Kiwomya
16         Lee Chapman
17     Matt Le Tissier
18           Ian Olney
19     Chris Armstrong
20      Paul Wilkinson
21        Nigel Clough
Name: Top Team Scorer, dtype: object

### Creating function for applying to each season

In [34]:
def top_scorer_and_goals(season):
    # Splitting Goal scorers and number of goals scored by Top scorer   
    
    most_goals = season['Top Team Scorer'].apply(lambda x : int(x.split(" - ")[-1]))
#     season["Goals scored by top team scorer"] = most_goals
    
    top_sco = season['Top Team Scorer'].apply(lambda x : x.split(" - ")[0])
#     season['Top Team Scorer'] = top_sco
    return most_goals,top_sco

In [35]:
def Attendance_dtype(season):
    return season['Attendance'].apply(lambda x : int(x.split(",")[0] + x.split(",")[-1]) if type(x) == str else x)

Applying changes to all seasons

In [36]:
for seasons in range(len(list_of_table)):
    # Changing the dtype of Attendance column
    att = Attendance_dtype(season=list_of_table[seasons])
    list_of_table[seasons]['Attendance'] = att
    
    # Splitting Team top scorer and goals scored by him
    goal,top = top_scorer_and_goals(season=list_of_table[seasons])
    list_of_table[seasons]["Goals scored by top team scorer"] = goal
    list_of_table[seasons]["Top Team Scorer"] = top

In [37]:
type(season_table_2020['Attendance'][0])

numpy.int64

# Creating new columns for analysis

### Promotion to Premier League

Creating a function that shows team promoted to premier league with Yes and already present teams with no.

In [38]:
def promotion(current_season,last_season):
    promoted_or_not = current_season['Squad'].apply(lambda x : "Yes" if x not in list(last_season['Squad']) else "No")
    current_season['Promoted'] = promoted_or_not

In [39]:
promotion(current_season=season_table_1999,last_season=season_table_1998)

### Years in premier league after promotion

Function that return the years spent by a team in premier league after promotion (Include Promotion year and relegation year)

In [40]:
def consecutive_years_in_PL_after_promotion(current_year,last_year):
    p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
    current_year['years_in_PL_after_promotion'] = p

For first season of Premier league this column will contain 1 for all teams

In [41]:
season_table_1992['years_in_PL_after_promotion'] = [1 for i in range(len(season_table_1992['Squad']))]

Applying both above function to all season tables

In [42]:
for i in range(1,len(list_of_table)):
    promotion(current_season=list_of_table[i],last_season=list_of_table[i-1])
    consecutive_years_in_PL_after_promotion(current_year=list_of_table[i],last_year=list_of_table[i-1])

C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)
C:\Users\Admin\AppData\Local\Temp\ipykernel_12692\3629782270.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  p = current_year['Squad'].apply(lambda x : 1 if x not in list(last_year['Squad']) else int(last_year.loc[(last_year['Squad'] == x)]['years_in_PL_after_promotion'])  + 1)

## Creating a combinded table of all seasons

In [24]:
All_season = pd.concat([season_table_1992,season_table_1993,season_table_1994,season_table_1995,season_table_1996,
                        season_table_1997,season_table_1998,season_table_1999,season_table_2000,season_table_2001,
                        season_table_2002,season_table_2003,season_table_2004,season_table_2005,season_table_2006,
                        season_table_2007,season_table_2008,season_table_2009,season_table_2010,season_table_2011,
                        season_table_2012,season_table_2013,season_table_2014,season_table_2015,season_table_2016,
                        season_table_2017,season_table_2018,season_table_2019,season_table_2020,season_table_2021],
                       ignore_index=True, axis=0)

In [25]:
All_season

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Goalkeeper,Notes,Season,Goals scored by top team scorer,years_in_PL_after_promotion,Promoted,xG,xGA,xGD,xGD/90
0,1,Manchester Utd,42,24,12,6,67,31,36,84,...,Peter Schmeichel,→ Champions League via league finish,1992-1993,15,1,NaN,NaN,NaN,NaN,NaN
1,2,Aston Villa,42,21,11,10,57,40,17,74,...,Nigel Spink,→ UEFA Cup via league finish,1992-1993,12,1,NaN,NaN,NaN,NaN,NaN
2,3,Norwich City,42,21,9,12,61,65,-4,72,...,Bryan Gunn,→ UEFA Cup via league finish 1,1992-1993,15,1,NaN,NaN,NaN,NaN,NaN
3,4,Blackburn,42,20,11,11,68,46,22,71,...,Bobby Mimms,NaN,1992-1993,16,1,NaN,NaN,NaN,NaN,NaN
4,5,QPR,42,17,12,13,63,55,8,63,...,Tony Roberts,NaN,1992-1993,20,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,16,Everton,38,11,6,21,43,66,-23,39,...,Jordan Pickford,NaN,2021-2022,10,30,No,41.2,55.4,-14.2,-0.37
602,17,Leeds United,38,9,11,18,42,79,-37,38,...,Illan Meslier,NaN,2021-2022,11,2,No,44.4,67.8,-23.5,-0.62
603,18,Burnley,38,7,14,17,34,53,-19,35,...,Nick Pope,Relegated,2021-2022,9,6,No,39.7,57.1,-17.4,-0.46
604,19,Watford,38,6,5,27,34,77,-43,23,...,Ben Foster,Relegated,2021-2022,10,1,Yes,40.0,64.5,-24.5,-0.64
605,20,Norwich City,38,5,7,26,23,84,-61,22,...,Tim Krul,Relegated,2021-2022,11,1,Yes,32.3,75.5,-43.2,-1.14

In [43]:
All_season.columns

Index(['Rk', 'Squad', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
       'Attendance', 'Top Team Scorer', 'Goalkeeper', 'Notes', 'Season',
       'Goals scored by top team scorer', 'years_in_PL_after_promotion',
       'Promoted', 'xG', 'xGA', 'xGD', 'xGD/90'],
      dtype='object')

In [44]:
del All_season['xG']
del All_season['xGA']
del All_season['xGD']
del All_season['xGD/90']

In [45]:
All_season

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,Attendance,Top Team Scorer,Goalkeeper,Notes,Season,Goals scored by top team scorer,years_in_PL_after_promotion,Promoted
0,1,Manchester Utd,42,24,12,6,67,31,36,84,2.00,35132,Mark Hughes,Peter Schmeichel,→ Champions League via league finish,1992-1993,15,1,NaN
1,2,Aston Villa,42,21,11,10,57,40,17,74,1.76,29594,Dean Saunders,Nigel Spink,→ UEFA Cup via league finish,1992-1993,12,1,NaN
2,3,Norwich City,42,21,9,12,61,65,-4,72,1.71,16253,Mark Robins,Bryan Gunn,→ UEFA Cup via league finish 1,1992-1993,15,1,NaN
3,4,Blackburn,42,20,11,11,68,46,22,71,1.69,16247,Alan Shearer,Bobby Mimms,NaN,1992-1993,16,1,NaN
4,5,QPR,42,17,12,13,63,55,8,63,1.50,15001,Les Ferdinand,Tony Roberts,NaN,1992-1993,20,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,16,Everton,38,11,6,21,43,66,-23,39,1.03,38446,Richarlison,Jordan Pickford,NaN,2021-2022,10,30,No
602,17,Leeds United,38,9,11,18,42,79,-37,38,1.00,36308,Raphinha,Illan Meslier,NaN,2021-2022,11,2,No
603,18,Burnley,38,7,14,17,34,53,-19,35,0.92,19278,Maxwel Cornet,Nick Pope,Relegated,2021-2022,9,6,No
604,19,Watford,38,6,5,27,34,77,-43,23,0.61,20614,Emmanuel Dennis,Ben Foster,Relegated,2021-2022,10,1,Yes
605,20,Norwich City,38,5,7,26,23,84,-61,22,0.58,26836,Teemu Pukki,Tim Krul,Relegated,2021-2022,11,1,Yes

In [46]:
All_season.to_csv(f'Season_tables/All_season',index=False)